	body {
		background-color: #999999;
		/* Webkit (Safari/Chrome 10) #FBC02D  */
		background-image: -webkit-gradient(radial, center center, 0, center center, 125, color-stop(0, #FFFFFF), color-stop(100, gray));
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		/* Webkit (Chrome 11+) */ 
		background-image: -webkit-radial-gradient(center, ellipse closest-side, #FFFFFF 0%, gray 100%);
/*		background-image: url(landingbg.jpg);
		background-size: 100%;
		background-repeat: no-repeat;*/
	}

	#buttons {
		margin-top: 15%;
		margin-bottom: 36.75%;
		text-align: center;
		padding-right: 3%;
		padding-left: 3%;
		padding-bottom: 3%;
		padding-top: 1%;
		background-image: url(landingbarrel.png);
		background-size: 100%;
		background-repeat: no-repeat;
		/*border-radius: 10px 10px 10px 10px;*/
		/*background-color: #fbc02d;*/

/*		-webkit-box-shadow: -3px 0px 42px -4px rgba(0,0,0,0.75);
		-moz-box-shadow: -3px 0px 42px -4px rgba(0,0,0,0.75);
		box-shadow: -3px 0px 42px -4px rgba(0,0,0,0.75);*/

		/* Webkit (Safari/Chrome 10) #FBC02D */ 
		/*background-image: -webkit-gradient(radial, center center, 0, center center, 125, color-stop(0, #FFFFFF), color-stop(100, gray));*/

		/* Webkit (Chrome 11+) */ 
		/*background-image: -webkit-radial-gradient(center, ellipse closest-side, #FFFFFF 0%, gray 100%);*/	}
	#buttons h2 {
		margin-top: 0;
		margin-bottom: 5%;
		color: white;
		font-family: Bukhari;
	}
	.jumbotron {
		background: none;
	}
	#signup-modal input {
		margin-top: 3%;
		margin-bottom: 3%;
	}
	#buttons input {
		margin-top: 3%;
		margin-bottom: 3%;
	}
	#buttons button {
		margin-top: 3%;
		margin-top: 3%;
	}

	@font-face {
    font-family: Bukhari;
    src: url(fonts/Bukhari_Script.ttf);
}



	