
/* Index page styling */

@font-face {
    font-family: Bukhari;
    src: url(fonts/Bukhari_Script.ttf);
}

/* Font class */

.brand-logo {
    font-family: Bukhari;
}

/* Header styling */

.nav-wrapper {
    background-image: url(images/bkgd_pattern2.png);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
}

.input-field {
    margin-top: 2%;
}

/* Slide 1 (home) */

.firstSec {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffee5c;
}

/* Slide 2 (survey) */

.secondSec {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fdd835;
}

.surveyText{
    margin-left: 5%;
    margin-right: 5%;
}

.surveyHead{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.surveyButton{
    margin-top: 5%;
    font-size: 35px;
    margin-bottom: 5%;
}

.alignText{
    text-align: center;
}

.aboutSurvey{
    margin-left: 20%;
    margin-bottom: 7.5%;
}

#exitSurvey{
    margin-top: 5%;
}

#surveyDiv {
    position: absolute;
    background-color: #fdd835;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin-left: 200%;
    bottom: 8%;
}

#takeSurvey{
    color: black;
}

/* Slide 3 (brewrey finder) */

.thirdSec {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fbc02d;
}

#map {
    float: right;
    width: 50%;
    height: 50%;
}

/* Slide 4 (?) */

.fourthSec {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f9a825;
}

/* Slide 5 */

.fifthSec {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f57f17;
}

/* Survey page styling */

#container{
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 55%;
    overflow: hidden;  
}

.q1{
    margin-left: 15%;
}

.q10, .submitbtn{
    margin-right: 10%;
}


.backButtons{
    float: left;
    margin-top: 2%;
    position: relative;
}

.leftBlock{
    width: 100%;
    height: 15%;
    background-color: #fdd835;
    position: absolute;
    z-index: -1;
    right: 56%;
    top: 17%;
}

.backQtext{
    width: 100%;
    position: absolute;
    z-index: -2;
    left: -50%;
    top: 16.5%;
}

.forwardButtons{
    float: right;
    margin-top: 2%;
    position: relative;
}

.rightBlock{
    width: 100%;
    height: 15%;
    background-color: #fdd835;
    position: absolute;
    z-index: -1;
    right: -60%;
    top: 17%;
}

.nextQtext{
    width: 100%;
    position: absolute;
    z-index: -2;
    right: -60%;
    top: 15.5%;
}

.box{
    /*background-color: white;*/
    position: absolute;
    width: 50%;
    height: 300px;
    text-align: center;
    border: 2px solid black;
    left: 50%;
    top: 50px;
    margin-left: -25%;
}

#box1{
    left: 50%;
}

#box2{
    left: 150%;
}

#box3{
    left: 250%;
}

#box4{
    left: 350%;
}

#box5{
    left: 450%;
}

#box6{
    left: 550%;
}

#box7{
    left: 650%;
}

#box8{
    left: 750%;
}

#box9{
    left: 850%;
}

#box10{
    left: 950%;
}