
/* Index page styling */

@font-face {
    font-family: Bukhari;
    src: url(fonts/Bukhari_Script.ttf);
}

/* Font class */

.brand-logo {
    font-family: Bukhari;
}

/* Header styling */

.nav-wrapper {
    /*background-image: url(images/bkgd_pattern.png);*/
    /*box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);*/
}

.input-field {
    margin-top: 2%;
}

/* Slide 1 (home) */

.firstSec {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
}

/* Slide 2 (survey) */

.secondSec {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fdd835;
}

.surveyText{
    margin-left: 5%;
    margin-right: 5%;
}

.surveyHead{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.surveyButton{
    margin-top: 5%;
    font-size: 35px;
    margin-bottom: 5%;
}

.alignText{
    text-align: center;
}

.aboutSurvey{
    margin-left: 20%;
    margin-bottom: 7.5%;
}

#exitSurvey{
    margin-top: 5%;
}

#surveyDiv {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin-left: 200%;
    bottom: 8%;
}

#takeSurvey{
    cursor: pointer;
    color: black;
}

/* Slide 3 (brewrey finder) */

.thirdSec {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fbc02d;
}

#map {
    -webkit-box-shadow: 17px 15px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 15px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 17px 15px 5px 0px rgba(0,0,0,0.75);;
    float: right;
    margin-right: 5%;
    margin-top: 15%;
    width: 50%;
    height: 50%;
}

.brewreyForm{
    /*background-color: white;*/
    width: 25%;
    height: 35%;
    margin-left: 5%;
    margin-top: 10%;
    float: left;
}

/* Slide 4 (?) */

.fourthSec {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f9a825;
}

/* Slide 5 */

.fifthSec {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f57f17;
}

/* Survey page styling */

strong{
    font-size: 35px;
}

#container{
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 55%;
    overflow: hidden;  
}

.nextQ{
    margin-right: 5px;
    height: 65px;
    width: 41px;
    cursor: pointer;
} 

.backQ{
    margin-left: 5px;
    height: 65px;
    width: 41px;
    cursor: pointer;
}

.firstQ, .lastQ{
    height: 25px;
    width: 30px;
    cursor: pointer;
}

.lastBlock{
    width: 110px;
    height: 15%;
    background-color: white;
    position: absolute;
    z-index: -1;
    right: -190%;
    top: 80%;
}

.lastQtext{
    width: 100px;
    position: absolute;
    z-index: -2;
    right: -200%;
    top: 80%;
}

.firstBlock{
    width: 100px;
    height: 15%;
    background-color: white;
    position: absolute;
    z-index: -1;
    right: 50%;
    top: 80%;
}

.firstQtext{
    width: 100px;
    position: absolute;
    z-index: -2;
    left: -170%;
    top: 80%;
}


.submitbtn{
    margin-right: 10%;
}

/*.border{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding-right: 2%;
    margin-bottom: 1.5%;
}
*/

.backButtons{
    float: left;
    position: relative;
}

.answers{
    margin-left: 12.5%;
    width: 60%;
    float: left;
}

.leftBlock{
    width: 100px;
    height: 15%;
    background-color: white;
    position: absolute;
    z-index: -1;
    right: 56%;
    top: 17%;
}

.backQtext{
    width: 100px;
    position: absolute;
    z-index: -2;
    left: -180%;
    top: 15%;
}

.forwardButtons{
    float: right;
    position: relative;
}

.rightBlock{
    width: 100px;
    height: 15%;
    background-color: white;
    position: absolute;
    z-index: -1;
    right: -200%;
    top: 15%;
}

.nextQtext{
    width: 100px;
    position: absolute;
    z-index: -2;
    right: -200%;
    top: 14.5%;
}

.box{
    /*background-color: white;*/
    position: absolute;
    width: 50%;
    height: 300px;
    text-align: center;
    border: 2px solid black;
    left: 50%;
    top: 50px;
    margin-left: -25%;
}

#box1{
    left: 50%;
}

#box2{
    left: 150%;
}

#box3{
    left: 250%;
}

#box4{
    left: 350%;
}